ip address,ip state,description,hostname,subnet
{% for row in csv_data %}
{{row.prefix | next_nth_usable(1)}},,{{row.primarydevice]]/{{row.backupdevice}} {{row.cinint}} ,{{row.prefix}}
{% endfor -%}  
{% for row in csv_data %}
{{row.prefix | next_nth_usable(2)}},,{{cbr8name}} {{row.primdpicint}}/{{row.backdpicint}} ,{{row.prefix}}
{% endfor -%}  
