Section,Subnet,Description,VLAN,VLAN Domain,VRF
{% for row in csv_data %}
SECTV,{{row.subnet}},{{cbr8name}} {{row.primdpicint}}/{{row.backdpicint}} to {{row.primarydevice]]/{row.{backupdevice}} {{row.cinint}},,,
{% endfor -%}  
