{#This tempate will build the config file for the CBR8 RPHY DPIC Interfaces and VRFs #}
#File created {{cur_date}} by {{email}}
{#First define all the VRFs #}
{% for row in csv_data %}
vrf definition {{row.vrf}}
!
 address-family ipv4
 exit-address-family
!
{% endfor -%}  
{#Build all the CBR8 DPIC interfaces#}
{% for row in csv_data %}
{#Build all the Primary DPIC interfaces(Evens)#}
interface {{row.primdpicint}}
description 10GB Link to device {{row.primdpicint}}
vrf forwarding {{row.vrf}}
ip address {{row.prefix | next_nth_usable(1)}} {{row.prefix | ipaddr('netmask')}}
cdp enable
!
{#Build all the Backup DPIC interfaces(Odds)#}
interface {{row.backdpicint}}
description 10GB Link to device {{row.backdpicint}}
vrf forwarding {{row.vrf}}
ip address {{row.prefix | next_nth_usable(1)}} {{row.prefix | ipaddr('netmask')}}
cdp enable
!
{% endfor -%}  
