{# This template will add interfaces to the DHCP Profile and create interfaces with IPV4 addresses#}
#File created {{cur_date}} by {{lasteditby}}
dhcp ipv4
 profile ISC relay
  helper-address vrf default 10.123.0.9
  broadcast-flag policy check
  relay information option
 !
{% for row in csv_data %}
interface {{row.interface}}
{% endfor -%}
!
{% for row in csv_data %}
interface {{row.interface}}  
description {{row.description}}
cdp
mtu 9200
ipv4 address {{row.prefix | next_nth_usable(1)}}  {{row.prefix | ipaddr('netmask')}}
load-interval 30
!
{% endfor -%}
